<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/">HCMUT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" [ngClass]="{'active': activeNavItem === 0}" (click)="setActiveNavItem(0)">
                    <a class="nav-link" routerLink="/drivers">DRIVERS</a>
                </li>
                <li class="nav-item" [ngClass]="{'active': activeNavItem === 1}" (click)="setActiveNavItem(1)">
                    <a class="nav-link" routerLink="/vehicles">VEHICLES</a>
                </li>
                <ng-container *ngIf="userResponse?.role?.name === 'ADMIN'">
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': activeNavItem ===2}" (click)="setActiveNavItem(2)"
                            routerLink="/admin">ADMIN</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="userResponse">
                    <ng-container>
                        <ng-container ngbPopover="My Account<br>My History<br>Log Out" popoverTitle="User Actions"
                            triggers="click" [placement]="'bottom'">
                            <a class="nav-link" [ngbPopover]="popoverContent" (click)="togglePopover($event)">
                                {{ userResponse.full_name }}
                            </a>
                            <ng-template #popoverContent>
                                <div class="popover-list text-center">
                                    <a class="popover-item" (click)="handleItemClick(0)">My Account</a>
                                    <a class="popover-item mt-2" (click)="handleItemClick(1)">My History</a>
                                    <a class="popover-item mt-2" (click)="handleItemClick(2)">Log Out</a>
                                </div>
                            </ng-template>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!userResponse">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/register">REGISTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': activeNavItem === 3}" (click)="setActiveNavItem(3)"
                            routerLink="/login">LOGIN</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>