<app-header></app-header>

<div class="jumbotron">
    <div class="container d-flex flex-column align-items-center justify-content-center min-vh-100"
        style="max-width: 50%;">
        <h1 class="display-4 centered-text">
            VEHICLE SERVICE MANAGEMENT SYSTEM
        </h1>
        <button class="btn btn-warning centered-button">
            HOTLINE: 0369169678
        </button>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-Tji4jxP3+0DwVZ3Z9wFYW/lUUCtSACGoOKrTzF4joXudLglaTNr2Uv1W6Aq8N1cK"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>