.container {
  background-color: white !important;
  border-radius: 20px;
}

.img-container {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  height: 100%;
}

.img-details {
  border-radius: 10px;
  max-width: 100%;
  max-height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addMaintenance-button {
  padding: 8px 20px;
  border-radius: 12px;
  font-weight: 500;
  color: white;
  background-color: #4e73df;
  border-color: #4e73df;
}

.addMaintenance-button:hover {
  padding: 8px 20px;
  border-radius: 12px;
  font-weight: 500;
  color: white;
  background-color: #1b3994;
  border-color: #4e73df;
}

.table tbody tr:hover {
  background-color: #f2f2f2 !important;
  transition: background-color 0.3s ease !important;
}

.custom-table th:first-child {
  border-top-left-radius: 10px;
}

.custom-table th:last-child {
  border-top-right-radius: 10px;
}

.custom-table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.custom-table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.table th,
.table td {
  padding: 10px;
}

.table thead th {
  background-color: #333;
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

.table td {
  border-bottom: 1px solid #ddd;
}

.table {
  width: 100%;
}

.table th,
.table td {
  font-size: 14px;
}

.table th,
.table td {
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

.done-button {
  padding: 10px 10px;
  border-radius: 12px;
  font-weight: 500;
  color: white;
  background-color: rgb(87, 189, 39);
}

.done-button:hover {
  padding: 10px 10px;
  border-radius: 12px;
  font-weight: 500;
  color: white;
  background-color: rgb(60, 163, 13);
}

.cancel-button {
  padding: 10px 10px;
  border-radius: 12px;
  font-weight: 500;
  color: white;
  background-color: rgb(92, 167, 238);
}

.cancel-button:hover {
  padding: 10px 10px;
  border-radius: 12px;
  font-weight: 500;
  color: white;
  background-color: rgb(34, 137, 233);
}

.delete-button {
  padding: 10px 10px;
  border-radius: 12px;
  font-weight: 500;
  color: white;
  background-color: rgb(233, 127, 78);
}

.delete-button:hover {
  padding: 10px 10px;
  border-radius: 12px;
  font-weight: 500;
  color: white;
  background-color: rgb(224, 88, 24);
}

.pagination .page-link {
  color: #4e73df;
}

.pagination .page-link:hover {
  color: #2754da;
}

.pagination .page-item.active .page-link {
  background-color: #4e73df;
  border-color: #4e73df;
  color: white;
}
