<div class="container-fluid">
  <div class="mt-3"></div>

  <div class="row">
    <div class="col-md-10 d-flex justify-content-center">
      <div style="padding-left: 20%;">
        <h1>All Orders</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="">
        <button type="submit" class="addOrder-button mt-2" (click)="addNewOrder()">ADD NEW</button>
      </div>
    </div>
  </div>

  <div class="mt-3"></div>

  <table class="table custom-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Vehicle ID</th>
        <th>Driver ID</th>
        <th>Start Place</th>
        <th>End Place</th>
        <th>Start Date</th>
        <th>Customer Phone</th>
        <th>Status</th>
        <th>Distance</th>
        <th>Duration</th>
        <th>Sum of Expense</th>
        <th>Profit</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for(order of orders; track order.id){
      <tr>
        <td class="align-middle">{{ order.id }}</td>
        <td class="align-middle">{{ order.vehicleId }}</td>
        <td class="align-middle">{{ order.driverId }}</td>
        <td class="align-middle">{{ order.startPlace }}</td>
        <td class="align-middle">{{ order.endPlace }}</td>
        <td class="align-middle">{{ order.startDate | date }}</td>
        <td class="align-middle">{{ order.customerPhone }}</td>
        <td class="align-middle">{{ order.status }}</td>
        <td class="align-middle">{{ order.distance }}</td>
        <td class="align-middle">{{ order.duration }}</td>
        <td class="align-middle">{{ order.sumOfExpense | currency }}</td>
        <td class="align-middle">{{ order.profit | currency }}</td>
        <td class="align-middle">
          <div style="display: flex; gap: 10px;">
            <button (click)="viewDetails(order)" class="btn view-button">
              View Details
            </button>
            <button class="btn delete-button" (click)="deleteOrder(order.id)">
              Delete
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<div class="mt-5"></div>

<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <ng-container *ngIf="currentPage > 0">
        <li class="page-item">
          <a class="page-link" (click)="onPageChange(0)">First</a>
        </li>
      </ng-container>
      <ng-container *ngIf="currentPage > 0">
        <li class="page-item">
          <a class="page-link" (click)="onPageChange(currentPage - 1)">
            <i class="fa fa-chevron-left"></i> Previous
          </a>
        </li>
      </ng-container>
      <ng-container *ngFor="let page of visiblePages">
        <li class="page-item" [class.active]="page === currentPage + 1">
          <a class="page-link" (click)="onPageChange(page - 1)">{{ page }}</a>
        </li>
      </ng-container>
      <ng-container *ngIf="currentPage < totalPages - 1">
        <li class="page-item">
          <a class="page-link" (click)="onPageChange(currentPage + 1)">
            Next <i class="fa fa-chevron-right"></i>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="onPageChange(totalPages - 1)">Last</a>
        </li>
      </ng-container>
    </ul>
  </nav>
</div>